* {
    font-family: 'Quicksand', sans-serif;
}
.body {
    background-color: oldlace;
}
.page {
    text-decoration:black;
    background-color: oldlace;
}
.me {
    float: left;
    margin: auto;
    padding: 20px;
}
.heading {
    font-weight: bold;
    font-weight: 800;

}
.container {
    background-color: oldlace;
    margin: 20px;
    padding: 30px;
}
.card {
    background-color: oldlace;
}
.about {
    margin: auto;
    background-color: oldlace;    
}
.cocktailcurator {
    width: 75%;
    height: auto;
}
.thomas {
    width: 75%;
    height: auto;
}
.doctor {
    width: 75%;
    height: auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: steelblue;
    color: white;
    text-align: center;
  }
