* {
    font-family: 'Quicksand', sans-serif;
}
.body {
    background-color: floralwhite;
}
.page {
    text-decoration:black;
    background-color: floralwhite;
}
.me {
    float: left;
    margin: 20px;
}
.container {
    background-color: floralwhite;
    margin: 20px;
    padding: 30px;
}
.card {
    background-color: floralwhite;
}
.about {
    background-color: floralwhite;    
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: steelblue;
    color: white;
    text-align: center;
  }
